Makefile.in
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
texinfo.tex
install-sh
ltmain.sh
missing
.*.swp
*.info
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.cproject
.project
config.h.in~
*.o
*.lo
*.la
*.a
*.so
Makefile
.deps/
.libs/
